{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}


{% block main %}

<div class="home-hero">
    <h3 class="home">
        Welcome to Deca Motel!
    </h3>
    <p class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed lacinia mi. Aenean suscipit eleifend lacinia. Donec feugiat lacus ut tellus feugiat sagittis. Integer est felis, tempus quis pharetra id, ornare at ipsum. Phasellus cursus convallis lorem quis sagittis.</p>
</div>


{% endblock %}